<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instance.name %>
</p>

<p>
  <b>Instance:</b>
  <%= @instance.instance_id %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
